body{
    padding: 0;
    margin: 0;
    width: 100%;
   
    color: #000000;
    height: 900px;
}

.rightlayer{
    background: #F7F7FF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 28px;
    opacity: 1;
    top: 20px;
    left: 938px;
    width: 961px;
    height: 900px;
}

.leftlayer{
    background: #262A41 0% 0% no-repeat padding-box;
    height: 900px;
    display: flex;

}

.leftcontent{
    margin: auto;
}

/* .innercontainer{
    position: absolute;
    margin: auto;
    top: 15%;
    right: 0;
    bottom: 0;
    margin-left: 10%;
    width: 100%;   
} */

.display-box{
    color: #262A41;
}

.info-details{
    top: 243px;
    left: 168px;
    width: 122px;
    height: 68px;
}

.searchbox{
    position: relative;
    display: inline-block;
   
}

.searchbox input:focus {
    outline: none; 
}

.searchbox input{
    z-index: 0;
    margin-top: 8%;
    width: 150%;
    height: 40px;
    background:#3C3F54;
    border-radius: 25px;
    border: 2px solid #3C3F54;
}
.searchbox2 input{
    z-index: 0;
    width: 70%;
    height: 40px;
    background:#F7F7FF;
    border-radius: 25px;
    border: 2px solid #707070;
}

.select-place{
    z-index: 0;
    height: 40px;
    background:#F7F7FF;
    border-radius: 25px;
    border: 2px solid #707070;
}

form{
    display:inline-block;
}

#closeid1, #closeid2{
  display: none;
}

.fa-search{
    position: absolute;
    top:55%;
    left:5%;
    color:#8e99a4;
}

.close{
    position: absolute;
    top:50%;
    right:-160%;
    color:#8e99a4;
    border: none;
    padding: 0;
}
.search{
    color:#8e99a4;
    font-weight: 400; 
    padding-left: 50px;
    font-size: 18px;
    z-index: 3;
}

.fa-times{
    position: absolute;
    top:30%;
    right:5%;  
}

.social{
    color: #ffffff!important;
}

li{
    display: inline!important;  
}

.users1{
    background: #F935A9;
    padding:30px;
    border-radius: 20px;
}

.users2{
    background:#30BBB5;
    padding:35px;
    border-radius: 20px; 
}

.users3{
    background: #7946C1;
    padding:35px;
    border-radius: 20px; 
}

.fa-3x{
    vertical-align: middle;
}

.socialicon{
    margin-top: 40px;
    
}

.social{
    margin-right: 40px;
}

.label{
    margin-top: 30px;
}

.all,.male,.female{
    margin: 35px;
    letter-spacing: -0.02px;
    color: #FFFFFF;
}

.male,.female{
    margin-right: 30px;
}


select{
    width: 40%!important;
    color: #262A41;
}


img {
    border-radius: 50%;
    border: 3px solid #75D6D1!important;
}

.card-panel{
    box-shadow: 10px 10px 40px #0000000D;
    border-radius: 18px !important;
    width: 600px;
    margin: auto!important;  
}

.pointer{
    background:#30BBB5;
    padding:9px;
    border-radius: 10px; 
    color: #ffffff;
    margin-left: 1.9rem; 
    box-shadow: 2px 15px 30px #30BBB574;
}

.picture{
    margin-top: 30px;
}

.pagination{
    float: right;
    align-content: flex-end;
}

.username{
   padding-left: 0.3rem;
}

.themail, .thenumb{
    color: #BABDD1;
}

.themail{
    margin-right: 0.9rem;
}